@use '../../abstract' as var;

.site-menu {
  display: none;
}

.site-menu__list {
  @extend %list-reset;
}

@include var.desktop-size {

  .site-menu {
    display: block;
  }

  .site-menu__title {
    margin-top: 0;
    margin-bottom: 12px;

    font-size: 10px;
    color: var.$brand-grey;
  }
}
