@use '../abstract' as var;

.checkbox {
  cursor: pointer;
}

.checkbox__input {
  position: absolute;

  opacity: 0;
  pointer-events: none;
}

.checkbox__text {
  position: relative;

  display: block;
  padding-left: 30px;

  font-size: 12px;
  color: var.$brand-white;
  text-align: left;
  line-height: 1.1;

  br {
    display: none;
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;
    margin-top: 3px;

    z-index: 0;
    border: 2px solid var.$brand-white;
    border-radius: 1px;

    transition: .2s;
  }
}

.checkbox__input:checked + .checkbox__text::before {
  top: -4px;
  left: -5px;

  width: 12px;
  height: 22px;

  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid var.$brand-white;
  border-bottom: 2px solid var.$brand-white;

  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

@include var.tablet-size {

  .checkbox__text br {
    display: inline;
  }
}
