@use '../abstract' as var;

@include var.tablet-size {

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contacts__col {
        width: 50%;
    }
}