@use '../abstract' as var;

.product-card {
  @extend %box-shadow;

  display: flex;
  flex-direction: column;
  max-height: 365px;
  padding: 10px;

  border-radius: 15px;
}

.product-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;

  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.product-card__title {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}

.product-card__btn {
  margin-top: auto;
}
