@use '../abstract' as var;

.product-swiper {
    border: 1px solid var.$brand-primary-light;
    border-radius: 15px;
    overflow: hidden;
}

.product-swiper__slide {

}

.product-swiper__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;

    text-align: center;
}
