@use '../abstract' as var;

.product-cards__list {
  @extend %list-reset;
}

.product-cards__item {
  margin-bottom: 20px;
}

@include var.tablet-size {

  .product-cards__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .product-cards__item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include var.desktop-size {

  .product-cards__item {
    width: calc((100% - 20px * 3) / 4);
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
