@use '../abstract' as var;

.seo {
  width: 100%;

  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    @extend %list-reset;

    margin-bottom: 15px;
  }
}

.seo__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

@include var.desktop-size {

  .seo__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
