@use './variables' as var;

$brand-black: var.$black-pearl;
$brand-white: var.$white;
$brand-primary: var.$denim;
$brand-primary-light: var.$mint-tulip;
$brand-secondary-light: var.$alice-blue;
$brand-secondary: var.$deep-sapphire;
$brand-info: var.$curious-blue;
$brand-grey: var.$cadet-blue;
$brand-light: var.$black-squeeze;
