$white: #ffffff;
$black-squeeze: #f5f9fb;
$alice-blue: #f0faff;
$blue-haze: #c3cdde;
$cadet-blue: #a9b1c2;

$mint-tulip: #c9e8f5;
$curious-blue: #23a9e1;
$denim: #1875bc;
$deep-sapphire: #09406b;
$black-pearl: #07152f;

// Screen Size
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Z-index
$mobile-nav: 999;
$index-section-header: 1;
