@use '../../abstract' as var;

.hamburger-menu {
  @extend %btn-reset;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;

  color: var.$brand-black;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: var.$brand-white;
    background-color: var.$brand-primary;
  }
}

.hamburger-menu__text {
  font-size: 11px;
  font-weight: 500;
  line-height: 1;
  text-transform: lowercase;
}

.hamburger-menu__ico {
  position: relative;

  width: 22px;
  height: 17px;
  margin: 0 auto 3px;
}

.hamburger-menu__line {
  position: absolute;
  top: 50%;

  display: block;
  height: 3px;
  width: 100%;
  margin-top: -1.5px;

  background-color: var.$brand-black;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: '';

  position: absolute;
  left: 0;

  width: 100%;
  height: inherit;

  background-color: inherit;
}

.hamburger-menu__line::before {
  top: 6px;
}

.hamburger-menu__line::after {
  top: -6px;
}

.hamburger-menu:hover .hamburger-menu__line {
  background-color: var.$brand-white;
}

@include var.tablet-size {

  .hamburger-menu__text {
    display: none;
  }

  .hamburger-menu__ico {
    margin-bottom: 0;
  }

  .hamburger-menu {
    height: 56px;
  }
}
