@use 'abstract' as var;

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: block;
  height: 120vh;

  background-color: rgba(var.$brand-black, 0.5);
  z-index: 997;
  opacity: 1;
}
