@use '../../abstract' as var;

.footer-nav__list {
  @extend %list-reset;
}

.footer-nav__item {
  margin-bottom: 15px;

  line-height: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav__link {
  font-size: 12px;
  color: var.$brand-info;

  &:hover,
  &:active {
    color: rgba(var.$brand-white, 0.5);
  }
}
