@use '../../abstract' as var;

.footer-contacts {
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 12px;
  color: var.$brand-white;
}

.footer-contacts__col {
  width: 248px;
  margin-right: 25px;

  b {
    display: block;
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
