@use '../../abstract' as var;

.page-footer {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: var.$brand-secondary;
}

.page-footer__copyright {
  width: 100%;
  margin: 0;

  font-size: 9px;
  color: rgba(var.$brand-white, 0.5);
}

.page-footer__nav {
  margin-bottom: 15px;
}

.page-footer__left {
  margin-bottom: 15px;
}

.page-footer__contacts {
  display: none;
}

@include var.tablet-size {

  .page-footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .page-footer__right {
    width: 180px;
    margin-left: 30px;
  }
}

@include var.desktop-size {

  .page-footer__left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .page-footer__contacts {
    margin-left: auto;
  }

  .page-footer__contacts {
    display: flex;
  }

  .page-footer__right {
    margin-left: 60px;
  }
}
