.callback {
    margin-top: 30px;
    padding: 60px 120px;

    background-color: #23a9e1;
    border-radius: 15px;
}

.callbackSubtitle {
    margin-top: 0;

    color: #ffffff;
    text-align: center;
}